# Heightmap source
PageSource=Heightmap

# Heightmap-source specific settings
Heightmap.image=terrain.png

# How large is a page of tiles (in vertices)? Must be (2^n)+1
PageSize=513

# How large is each tile? Must be (2^n)+1 and be smaller than PageSize
TileSize=65

# The maximum error allowed when determining which LOD to use
MaxPixelError=1

# The size of a terrain page, in world units
PageWorldX=1500
PageWorldZ=1500

# Maximum height of the terrain 
MaxHeight=100

# Upper LOD limit
MaxMipMapLevel=5

# The proportional distance range at which the LOD morph starts to take effect
# This is as a proportion of the distance between the current LODs effective range,
# and the effective range of the next lower LOD
LODMorphStart=0.2

# Use vertex program to morph LODs, if available
VertexProgramMorph=no

# Custom material. Does use vertex normals.
CustomMaterialName=CaelumSample/Terrain
VertexNormals=yes
